# Firebase Configuration
FIREBASE_URL=https://aquasmart-system-default-rtdb.firebaseio.com
# FIREBASE_SERVICE_ACCOUNT logic:
# Pass the content of your serviceAccountKey.json as a single-line string here
FIREBASE_SERVICE_ACCOUNT={"type": "service_account", "project_id": "...", ...}

# Telegram Alert Configuration
TELEGRAM_BOT_TOKEN=8283956963:AAEDzViU0wmbf5puI5ITIhoiyB9AppAqNCo
TELEGRAM_CHAT_ID=5643789391

# Operations
MONITOR_INTERVAL_SECONDS=5
PONDS=pond_1,pond_2,pond_3
